*{
    margin: 0;
    padding: 0;
}
.container{
    border: 2px solid black;
    display: inline-block;
    width: 350px;
    padding-bottom: 30%;
    text-align: center;
    
}
.container:hover::before{
    width: 350px;
    
}
.container:hover::after{
    width: 350px;
    padding-bottom: 30%;
}
.title{
    text-align: center;
    margin-bottom: 50px;
    font-family: sans-serif;
}

img{
    width: 250px;
}
section{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}
.card1{
    margin-right: 170px;
    width: 300px;
    border: 1px solid black;
    transition: 0.5s;
    box-sizing: border-box;
    background-color: rgb(226, 180, 180);
}
.card1:hover{
    box-shadow: 0 0 20px 0px rgb(0, 0, 0);
}
.card2{
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 300px;
    border: 1px solid black;
    margin-right: 170px;
    transition: 0.5s;
    box-sizing: border-box;
    background-color: rgb(226, 180, 180);
}
.card2:hover{
    box-shadow: 0 0 20px 0px rgb(0, 0, 0);
}
.card3{
    width: 300px;
    border: 1px solid black;
    transition: 0.5s;
    box-sizing: border-box;
    background-color: rgb(226, 180, 180);
}
.card3:hover{
    box-shadow: 0 0 20px 0px rgb(0, 0, 0);
}
.card4{
    width: 300px;
    border: 1px solid black;
    margin-right: 170px;
    transition: 0.5s;
    box-sizing: border-box;
    background-color: rgb(226, 180, 180);
}
.card4:hover{
    box-shadow: 0 0 20px 0px rgb(0, 0, 0);
}
.card5{
    width: 300px;
    border: 1px solid black;
    margin-right: 170px;
    transition: 0.5s;
    box-sizing: border-box;
    background-color: rgb(226, 180, 180);
}
.card5:hover{
    box-shadow: 0 0 20px 0px rgb(0, 0, 0);
}
.card6{
    width: 300px;
    border: 1px solid black;
    transition: 0.5s;
    box-sizing: border-box;
    background-color: rgb(226, 180, 180);
}
.card6:hover{
    box-shadow: 0 0 20px 0px rgb(0, 0, 0);
}
.rating{
    cursor: pointer;
}
.footer{
    background-color: rgba(0, 0, 0, 0.674);
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    height: 200px;
    font-family: sans-serif;
    margin-top: 50px;
}
.icons{
    color: white;
    cursor: pointer;
}