*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
a,button{
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    color: black;
}
.header-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background-color:black;
}
.header-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background-color: rgb(192, 192, 192);
}
button{
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 5px;
}
.logo{
    color: white;
}
ul{
    display: flex;
    list-style-type: none;
    font-size: 20px;
}
li{
    font-size: 12px;
}
.na-2 li{
    padding-left: 40px;
}
.na-1 li{
    padding-right: 70px;
}
